@font-face {
  font-family: overFont;
  src: url("../font/Tomeoftheunknown-3gL3.ttf");
}
body {
    /* background-color:black; */
    margin:0;
    padding:0;
    /* https://i.imgur.com/JuAwThJ.png */
    background:url("../Images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: overFont;
}
header{
  max-width: 1000px;
  /* margin: 5px auto; */
  /* background-color: orange; */
  /* padding: 25px; */
  overflow: auto;
  width: 100%;
  margin: auto;

}
.page{
  overflow: auto;
  float: left;
}
nav{
  width:100%;
  margin: 100px;
  /* float:left; */
  /* background-color: blue; */
  margin: auto;
  text-align: center;
  /* margin-top: 100px; */
  /* width: 300px; */
  float: left;
  overflow: auto;
}
.pr{
  /* display: inline-block;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2{
  width:inherit;
  margin-right: auto;
  /* padding-right: auto; */
  margin: inherit;
  text-align: center;

  float:inherit;
  /* background-color: orange; */
}
.logo{
  /* width: 30%%; */
  float: left;
  /* border-radius: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: 5%; */
}
a{
  color: #b66521;

  text-decoration: none;
}
.button{

  /* margin-bottom: 20px;*/
  border-radius: 10px;
  padding: 7px;
  /* line-height: 30px; */
  text-align: center;
  /* width: 5%; */
  display: inline-block;
  margin-top: 20px;
  /* float: left; */
  overflow: auto;
  /* color: white; */
  /* border-style: groove; */
  /* border-color: red; */
  background-color:#F2F2F2;


  /* background-color: white; */
}
.home{
  /* background-color:pink; */
  margin: 5%;
  /* float: left; */
}
.char{
  /* background-color:pink; */
  margin: 5%;
  /* float: left; */
}
.places{
  /* background-color:pink; */
  margin: 5%;
  /* float: left; */
}
.rock{
  /* background-color:pink; */
  margin: 5%;
  /* float: left; */
}
.unk{
  /* background-color:pink; */
  margin: 5%;
  /* float: left; */
}
p{
  /* background-color: brown; */
  margin: 10px;
  padding: 20px;
  max-width: 65%;
  color: #F2F2F2;
  /* background-color: green; */
  font-size: 1.5em;
}
ul{
  font-size: 1.5em;
}
h5{
  font-size: 1.75em
}
main{
  color: #F2F2F2;
  font-size: 1.5em;

}
.c{
  color #F2F2F2;
  overflow: auto;
  /* max-width: 650px;
  margin: 100px auto; */
  /* background-color: orange; */
  /* padding-left: 20px; */
}
.p{
  color #CCCC00;
  overflow: auto;
  /* max-width: 650px;
  margin: 100px auto; */
  /* background-color: orange; */
  /* padding-left: 20px; */
}
.u{
  /* color yellow;
  overflow: auto; */
  /* max-width: 650px;
  margin: 100px auto; */
  /* background-color: orange; */
  /* margin-left: 5px; */
  width: 10px;
  /* border-style: groove; */
  /* display: block; */
  /* display: inline-block;
  margin-left: auto;
  margin-right: auto; */
  /* width: 40%; */
}

.pic{
  /* float: left; */
  color #F2F2F2;
  /* padding: 10px; */
  display: inline-block;
  overflow: auto;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* border-style: groove; */
}
.unkn{
  /* float: left; */
  /* color #F2F2F2; */
  /* padding: 10px; */
  /* display: inline-block; */
  /* overflow: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* border-style: groove; */
}
.beat{
  max-width: 100%;
  height: auto;
  /* background-color: white; */
}
h5{
  margin-left: 30px;
}
hr{
  /* border-top: dotted; */
  border:0;
  height:40px;
  background:url("../Images/line4.jpg");
  /* background-color: blue */
}
